.searchbar-wrap{
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.search-wrap{
  display: flex;
  align-items: center;
  width: 90%;
  height: 3em;
  border: 1px solid #000;
  border-radius: 12px;
}
.search-wrap:focus{
  border-color: #11c497;
}
.search-icon{
  padding: 0 5px;
}
.search-icon span{
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background: #11c497;
  border-radius: 12px;
}
.search-icon span i{
  font-size: 1.1em;
  color: #fff;
}
.search-wrap input{
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0 3px 0 4px;
  font-size: 1.1em;
  border-radius: 14px;
}
.error-text{
  text-align: center;
  margin-top: 10px;
}








