.hp-wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  padding: 0 8px;
  background-image: url('../../../Assets/shield.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.text-box{
  color: #fff;
}
@media (min-width: 700px) {
  .hp{
    display: grid;
    place-items: center;
    width: max-content;
    height: 25em;
    padding: 1.2em 1.5em;
  }
}
.text-box h1{
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}
.text-box p{
  font-size: 1.4em;
}