.searchbar-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3.5em;
}
.search-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 3em;
  background: #EEE;
  border-radius: 50px;
  box-shadow: 0 0 1px #2f2f2f;
}
@media (min-width: 700px) {
  .search-wrap{
    width: 30em;
    height: 4em;
  }
}
.search-icon{
  padding: 0 3px;
}
.search-icon span{
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.search-icon span i{
  font-size: 1.2em;
  color: #000;
}
.search-wrap input{
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0 3px 0 2px;
  font-size: 1.1em;
  text-decoration: none;
}

