.searchbar-wrap{
	
  margin-top: 1.2em;
}
.search-wrap{
  display: flex;
  align-items: center;
  width: 85%;
  height: 2.8em;
  background: #EEE;
  border-radius: 50px;
  box-shadow: 0 0 1px #2f2f2f;
}
@media (min-width: 700px) {
  .search-wrap{
    height: 3em;
  }
}
.search-icon{
  padding: 0 1px;
}
.search-icon span{
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.search-icon span i{
  font-size: 1.2em;
  color: #212121;
}
.search-wrap input{
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0 1px 0 0;
  font-size: 1.1em;
  text-decoration: none;
}

