.searchbar-wrap{
  padding: 1em 0;
}
.search-wrap{
  display: flex;
  align-items: center;
  width: 90%;
  height: 3em;
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
}
.search-wrap:focus{
  border-color: #11c497;
}
.search-icon{
  padding: 0 3px;
}
.search-icon span{
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.search-icon span i{
  font-size: 1.2em;
  color: #fff;
}
.search-wrap input{
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0 3px 0 2px;
  font-size: 1.1em;
}

