.md-wrap{
  padding: 2px 5px;
}
.error-text{
  text-align: center;
  margin-top: 10px;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  position: relative;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 2px inset #4E7EFE;
  animation: l5 3s infinite;
}
.loader:after {
  animation-delay: -1.5s;
  border-radius: 0;
}
@keyframes l5{
  0%    {inset:0    30px 30px 0   }
  12.5% {inset:0    30px 0    0   }
  25%   {inset:30px 30px 0    0   }
  37.5% {inset:30px 0    0    0   }
  50%   {inset:30px 0    0    30px}
  62.5% {inset:0    0    0    30px}
  75%   {inset:0    0    30px 30px}
  87.5% {inset:0    0    30px 0   }
  100%  {inset:0    30px 30px 0   }
}