.mi-wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 98%;
  max-width: 800px;
  min-height: 100%;
  padding: 1em 8px;
  color: #000;
  background: #f1f1f1;
  border-radius: 18px;
}
.title-rate{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: left;
}
.title h1{
  font-size: 1.4em;
}
.rate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.rate span{
	display: flex;
	gap: 3px;
}
.rate span i{
	color: #000;
	font-size: 1em;
}
.rate span p{
  padding: 0 5px;
}
/* .rate .release-date{
	display: flex;
}
.rate .likes{
	display: flex;
	gap: 3px;
} */
.mv-img{
  width: 100%;
  height: 100%;
}
.mv-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}
.mv-genres{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mv-genres .mv-genres-wrap{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mv-genres-wrap p{
  padding-left: 12px;
}
.mv-desc{
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.mv-desc p{
  font-size: 1.1em;
}
.mv-prod{
  margin-top: 1em;
}
.mv-prod .prod-grid-boxes{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.prod-grid-boxes .prod-wrap{
  display: grid;
  place-items: center;
  width: 120px;
  height: 100px;
  border-radius: 10px;
  background: rgba(225, 225, 225, 0.7);
  transition: 0.3s;
}
.prod-grid-boxes .prod-wrap:hover{
  background: grey;
}
.prod-wrap .prod-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.prod-wrap .prod-box img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
}
.prod-wrap .prod-box p{
	font-size: 1em;
}
.mv-website{
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
}
.mv-website button{
  display: flex;
  align-items: center;
  max-width: 70%;
  height: 100%;
  border: none;
  outline: none;
  background: #4E7EFE;
  border-radius: 50px;
}
.mv-website button a{
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  padding: 0 10px;
}
.mv-website button i{
  font-size: 1.1em;
  color: #fff;
  padding: 5px;
}