.intro-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: max-content;
  margin-top: 1.5em;
}
.intro-wrap h1{
  font-size: 2em;
  color: #11c497;
}
.intro-wrap p{
  margin-top: 1em;
}